@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Aplicación de Ingresos Gastos</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <a href="@Url.Action("Index","IngresosGastos")" class="btn btn-primary">Ir a ingresos Gastos</a> @*Primero nombre vista, despues controlador*@
</div>